extend ./extends/artist.jade

block name
  | Bálint András

block portrait
  img.alignleft.wp-post-image(src='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-310x465.jpg', alt='Bálint András')

block bio
  p Bálint András vagyok korülbelül 8 éve foglalkozok bútorfestéssel , almási motívumokat használok bútoraim virágozásához. Nagy hatással volt és van rám szülővárosom Székelyudvarhely gazdag forma és díszítésvilága.
  p Sohasem tekintettem úgy a bútorfestésre mint munkára, számomra  kikapcsolódás, egyfajta hobby, amely leköt és eltudok benne mélyülni tudom a gondolataimat szárnyalni hagyni.
  p Nagyon fontosnak tartom a hagyományaink fenntartását és folytatását és nagyon büszke vagyok arra, hogy egy ilyen gazdag népi motívumokkal rendelkező kultúrába születtem.

block gallery
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-1.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-1-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-2.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-2-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-1.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-1-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-2.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-2-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-3.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-3-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-4.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-4-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-5.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-5-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-6.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-6-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-7.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-7-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-9.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-9-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-10.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-10-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-11.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-11-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-12.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-12-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-13.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-13-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-14.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras-14-383x233.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras.jpg', title='Bálint András homoródalmási bútorfestés és motívumok')
      img.img-border(src='images/muveszeink/balint-andras/butorfestes-homorodalmas-balint-andras.jpg', alt='Bálint András homoródalmási bútorfestés és motívumok', style='width:383px;height:233px')

