extend extends/nosidebar.jade

block maintitle
  | Célunk

block maincontent
  p A Magyar Művészeti és Kulturális Portál célja hogy a Magyar művészek számára megjelenést és egy kreatív, interaktív fórumot biztosítson, továbbá célkitűzésünk a legnagyobb Magyar kortárs művészeti bázis létrehozása.Számunkra a legfontosabb a Magyar művészet, kultúra magas színvonalon való továbbadása, a kihalófélben lévő Magyar mesterségek és azok mestereinek felkutatása és bemutatása.
  p A Magyar Művészeti és Kulturális Portál a minőség stratégiáját követi. Tervünk egy olyan szervezet építése, amely folyamatos fejlődést, növekedést és megjelenést biztosít művészei számára. Munkánkkal arra törekszünk hogy elősegítsük a következő generációk kultúrális fejlődését. Így rendezvényeink, programjaink partnereinken keresztül szolgáltatásaink célja a Magyar hagyományok megőrzését illetve az összetartás erősítését szolgálni kézművesek, kreatív társadalom törekvéseit.
  p Tevékenységünk központjában a magyar művészek, kreatív társadalom és a befogadók közötti kapcsolat felépítése és   folyamatosa fejlesztése áll. Portálunkhoz csatlakozott művészeink számára ingyenes megjelenést biztosítunk honlapunkon, internetes Irodalmi Naplónkban, Közösségi Oldalainkon.
  p Alkotóink számára kiállítások, bemutatók szervezése Magyarországon és a világ más magyarok lakta városaiban. Magyar művészek külföldi oldalakon való megjelenésének lehetővé tétele.
  p A magyar közösségek érdekeit szolgáló, a nemzeti identitásunkat külföldön is erősítő, hagyományőrző és egyéb kulturális programok, koncertek szervezése. Kulturális örökségünk ápolása és átadása legfőképpen a külföldön élő magyarok számára.
