extend extends/nosidebar.jade

block maintitle
  | Etikai Kódex

block maincontent
  p Az Etikai Kódex célja
  p A Magyar Művészeti és Kulturális Portál funkciójából, céljaiból adódóan a társadalom magas szintű erkölcsiséget vár el. Azért, hogy ebben a morálisan egyre jobban összezavarodott világban, ahol értékeink fokozatosan eltűnnek biztos támpotokat tudjunk biztosítani, magunkra vonatkozó, és általunk betartandó etikai alapelveket kellett meghatároznunk.
  p Ezért készítjük el Etikai kódexünket.
  p Etikai Kódexünk jelenleg kialakítás alatt áll. Amennyiben kérdése merülne fel,
    a(href='kapcsolat.html')  kérjük lépjen velünk kapcsolatba.
  p Köszönjük.
  p Magyar Művészeti és Kulturális Portál