extend extends/nosidebar.jade

block maintitle
  | Gyakran Ismételt Kérdések

block maincontent
    section
      dl.toggle.clearfix
        dt
          span
          | Mi a portál célja?
        dd
          p
            | A Magyar Művészeti és Kulturális Portál célja, a magyar művészek számára  megjelenést és egy kreatív, interaktív fórumot biztosítsunk.

        dt
          span
          | Hogyan lehet a Portálhoz csatlakozni?
        dd
          p
            | A portálhoz többféleképpen lehet csatlakozni. Ha műkedvelő vagy akkor csatlakozhatsz a Facebook közösségünkhöz amelyet megtalálsz ide kattintva.
          p
            | Ha művész vagy és szeretnéd a munkásságod másokkal is megosztani akkor több lehetőséged van:
            ol
              li
                a(href='files/jelentkezesi-lap.docx') Letöltöd a jelentkezési lapot ide kattintva
                |   és azt visszaküldöd a lapon szereplő címre - ez azért jó mert terveink között szerepel kiállítások, rendezvények szervezése és jó  tudni hogy ki az akit érdekelnek ezek a lehetőségek és kik azok akiket kevésbé.
              li Nem töltöd le a jelentkezési lapot,
                a(href='mailto:magyarmuveszetiportal@gmail.com')  csak küldesz egy e-mailt a magyarmuveszetiportal@gmail.com -ra.
                |  Ebben az esetben egy rövid ismertetőt és 8 darab képet küldjél és mi egy válasz levélben rögzítjük a jelentkezésed.
        dt
          span
          | Milyen műfajokban fogadunk el jelentkezéseket?
        dd
          p
            | A kategóriák az alábbiak szerint alakulnak:
            ol
              li Szépirodalom
              li Képzőművészet
              li Hagyományőrzés
              li Digitális művészetek
              li Street art
              li Zene
              li Design
        dt
          span
          | Hol lehet a jelentkezési lapot letölteni?
        dd
          p
            | A
            a(href='files/jelentkezesi-lap.docx')  jelentkezési lapot ide kattintva tudod letölteni.
            |  Csak teljesen kitöltött jelentkezési  lapot tudunk elfogadni.

        dt
          span
          | Mikor jelenik meg a munkám a portál oldalain?
        dd
          p
            | A jelentkezéseket érkezési sorrendbe vesszük és próbáljuk a lehetőségeinkhez mérten   pár héten belül felölteni az oldalainkra. A portált egy kis csapat készíti ezért türelmet   kérünk ha nem tudjuk pontosan megmondani mikor kerül a munkásságod bemutatásra.

        dt
          span
          | Milyen költségekkel jár a portálon való megjelenés?
        dd
          p
            | A portálon való megjelenés művészek számára ingyenes.

        dt
          span
          | A könyvespolcra idegennyelvű könyvet is lehet ajánlani?
        dd
          p
            | A könyvespolcunknak az a lényege, hogy megismerjük regisztrált tagjaink ízlését és  hogy új műveket ajánljunk egymásnak. A "Könyvespolcra" ide kattintva tudsz  regisztrálni.
        dt
          span
          | Hogyan tudom a vállalkozásomat megjelentetni az oldalon?
        dd
          p
            | A Magyar Művészeti és Kulturális Portál médiaajánlata megtalálható ide kattintva.

        dt
          span
          | Hogyan tudom a termékemet eladni az oldalon?
        dd
          p
            | Bővebb információért és a pontos feltételekért lépjél kapcsolatba velünk ide kattintva.

         dt
          span
          | Vállalkozásként hogy tudjuk támogatni a munkátokat?
        dd
          p
            | Először is köszönjük hogy támogatni szeretnéd munkánkat.
            a(href='mailto:info@francis-and-son.com')  Kérjük hogy lépjél kapcsolatba velünk ide kattintva.

    // End Main

