extend ./extends/artist.jade

block name
  |  Faragó Ferenc

block portrait
  img.alignleft.wp-post-image(src='images/muveszeink/farago-ferenc/farago-ferenc-310x465.jpg', alt=' Faragó Ferenc')

block bio
  p A Duna partján, a Gemenc szomszédságában, Baján nőttem fel, s az életem – a családom, a munkám, és a hobbim révén – viszonylag korán a természet felé terelődött.
  p Főállásban környezetvédelmi szakértőként dolgozom, a szabadidőmet pedig nagyon szeretem a friss levegőn, a természet csendjében és nyugalmában tölteni.
  p 17 éves koromban vettem az első analóg gépemet, melynek segítségével az utazásaim során, illetve a családi összejöveteleken ismerkedtem a fotográfia rejtelmeivel.
  p A fotózás eleinte hobbinak indult, majd egyre inkább átalakult önkifejezési eszközzé, s ezzel együtt formálódott bennem az igény, hogy a fotóimon keresztül szélesebb körben is megmutassam a természet szépségét, harmóniáját, s a képeim segítségével felhívjam a figyelmet a természet értékeire. Amint ez a felismerés megérett bennem, amennyit csak időm engedte a szabadban voltam és fotóztam. Hétvégenként, de munka előtt és munka után a hétköznapok során is.
  p A digitális világba 2002-ben léptem be, egy kompakt kisgéppel. Nem sokkal később tükörreflexes gépre váltottam, amit később egy professzionális gép követett. Ez utóbbi gépvázzal dolgozom a mai napig. Az elmúlt évek digitális kalandozásai után visszakanyarodtam a filmes világba, és egyelőre bele is vesztem. Két Ljubitel, illetve egy Yashica és egy Mamiya segítségével a középformátumú, filmes fotózás nagyszerű és egyedi hangulatú világában kalandozom.
  p A fotózás szinte minden területe érdekel, de leginkább a természetfotózás vonz. Így rengeteg időt tölthetek a szabadban és megörökíthetem a táj, a természet, az évszakok változatosságát és szépségeit.
  p Be kell vallanom, hogy a szívemhez legközelebb a vizek állnak – mint említettem Baján, a Duna partján nőttem fel. Igazi nyugalmat a víz közelsége biztosít, ezért szívesen megyek olyan vízpartra, folyók, patakok mellé, vagy a Balaton környéki hegyoldalakra, ahonnan rálátás nyílik a tóra. Ha tehetem, szívesen ülök csónakba, és úgy fotózom a víz szépségét és élővilágát.
  p Gyermekkorom óta ellenállhatatlan vonzalom köt a repüléshez. Repülőgép vezetőként gyakran nyílik alkalmam légifotózásra is, s ezáltal a hazai tájakat a szokásostól eltérő nézőpontból bemutatni. A madárszemmel készített fotók a jól ismert táj izgalmas, érdekes új arcát mutatják meg.
  p Boldogsággal tölt el, hogy kislányom, aki hozzám hasonlóan imádja a természetet, szintén felfedezte magának a fotózást, sőt már saját fényképezőgépével fotózgat. Korábban az én gépeimre lecsapva ismerkedett a fotózással, kiérdemelt már egy külön fényképezőt.
  p Fontosnak tartom a mai „modern”, a technika vívmányaival körülvett, a televízió által (félre) nevelt ember figyelmét felhívni a természet szépségeire, harmóniájára, s rányitni a szemét, hogy észrevegye a benne rejtőző csodákat. Ösztönözni arra, hogy sokat járjon a szabadba, ne csak a televízióból ismerje, hanem átélje a természet tökéletességét és ráébredjen, hogy óvnia kell ezeket a természeti értékeket!
  p Képeimmel szeretném megmutatni, hogy milyen gyönyörű tájaink vannak, és hogy én milyen szépséget találok a természetben. Remélem, sikerül!
  p EREDMÉNYEK:
    ul
      li XIV. Nemzetközi Magyar Fotópályázat 2014. “A” kategóriája  I. díj – Mezőgazdasági táj című képem.
      li XIX. Jászkun Fotószalon (2014.) – az Égi jelek című fotóm kiállításra elfogadva.
      li 4. Házunk – Hazánk fotópályázat (2014.) – Rezdülő tükör című fotóm kiállításra elfogadva.
      li Danube-Duna Nemzetközi Fotópályázat (2011.) - Rezdülő tükör című fotóm kiállításra elfogadva.



block gallery
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-feloldodo-nap.jpg', title='Feloldodó nap')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-feloldodo-nap-383x233.jpg', alt='Feloldodó nap', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-1.jpg', title='Faragó Ferenc fotó')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-1-383x233.jpg', alt='Faragó Ferenc fotó', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-2.jpg', title='Faragó Ferenc fotó')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-2-383x233.jpg', alt='Faragó Ferenc fotó', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-3.jpg', title='Faragó Ferenc fotó')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-3-383x233.jpg', alt='Faragó Ferenc fotó', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-nad-labirintus.jpg', title='Nádlabirintus')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-1-nad-labirintus-383x233.jpg', alt='Nádlabirintus', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-fellegvar.jpg', title='Fellegvár')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-fellegvar-383x233.jpg', alt='Fellegvár', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-fagyott-taj.jpg', title='Fagyott táj')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-fagyott-taj-383x233.jpg', alt='Fagyott táj', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-mezogazdasagi-taj.jpg', title='Mezőgazdasági táj')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-mezogazdasagi-taj-383x233.jpg', alt='Mezőgazdasági táj', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-erdomelyi-csoda.jpg', title='Erdőmélyi csodákat')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-erdomelyi-csoda-383x233.jpg', alt='Erdőmélyi csodákat', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-egi-jelek.jpg', title='Égi jelek')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-egi-jelek-383x233.jpg', alt='Égi jelek', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-megtort-ritmus.jpg', title='Megtört ritmus')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-megtort-ritmus-383x233.jpg', alt='Megtört ritmus', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-rezdulo-tukor.jpg', title='Rezdülő tükör')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-rezdulo-tukor-383x233.jpg', alt='Rezdülő tükör', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-4.jpg', title='Faragó Ferenc fotó')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-fenyfarago-4-383x233.jpg', alt='Faragó Ferenc fotó', style='width:383px;height:233px')






