extend extends/genre.jade

block genre
  | Film, fotó

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='farago-ferenc.html', title='Faragó Ferenc')
      img.img-border(src='images/muveszeink/farago-ferenc/farago-ferenc-magyar-muveszeti-portal-310x465.jpg', alt='Faragó Ferenc' style='width:178px;height:267px')
  h5.item-title
    a(href='orban-ferenc.html', title='Faragó Ferenc') Faragó Ferenc
