extend extends/genre.jade

block genre
  | Hagyományőrzés

block artistlist
  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='dobos-kriszti.html', title='Dobos Kriszti')
        img.img-border(src='images/muveszeink/dobos-kriszti/dobos-kriszti-magyar-muveszeti-portal-310x465.jpg', alt='Dobos Kriszti' style='width:178px;height:267px')
    h5.item-title
      a(href='dobos-kriszti.html', title='Dobos Kriszti') Dobos Kriszti
  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='balint-andras.html', title='Bálint András')
        img.img-border(src='images/muveszeink/balint-andras/balint-andras-magyar-muveszeti-portal-310x465.jpg', alt='Bálint András' style='width:178px;height:267px')
    h5.item-title
      a(href='balint-andras.html', title='Bálint András') Bálint András
