extend extends/nosidebar.jade

block maintitle
  | Kedves Látogató!

block maincontent
  p Tisztelettel üdvözlöm a Magyar Művészeti és Kulturális Portál oldalán.

  p A Magyar Művészeti és Kulturális Portál célja a Magyar művészek számára megjelenést és egy kreatív, interaktív fórumot biztosítani.

  p Számunkra a legfontosabb a magyar művészet, kultúra továbbadása, a kihalóban lévő magyar mesterségek és azok mestereinek felkutatása és bemutatása a világ bármely pontján is éljenek.

  p A Magyar Művészeti és Kulturális Portálnál a minőségre törekszünk. A tervünk, egy olyan szervezetet építése amely folyamatos fejlődést és növekedést biztosít művészei számára.

  p Célunk, hogy ne csak művészeink munkássága legyen jelentős, hanem hogy azokat színvonalasan tudjuk közvetíteni tagjaink felé.

  p Képviselt értékeink

  ul
    li Magyar tradíciók tisztelete és azok átörökítése,
    li Nemzeti identitásunk erősítése,
    li Kultúránk jó hírnevének erősítése,
    li Művészeink, kreatív társadalmunk támogatása,
    li Művészeink hosszú távú fejlődésének elősegítése,
    li Felelősségteljes és példamutató viselkedésre való ösztönzés.

  p Tevékenységünk központjában a magyar művészek, kreatív társadalom és a befogadók közötti kapcsolat felépítése és   folyamatosa fejlesztése áll. Portálunkhoz csatlakozott művészeink számára ingyenes megjelenést biztosítunk honlapunkon,   internetes Irodalmi Naplónkban, Közösségi Oldalainkon.

  p Alkotóink számára kiállítások, bemutatók szervezése Magyarországon és a világ más magyarok lakta városaiban.

  p Magyar művészek külföldi oldalakon való megjelenésének lehetővé tétele.

  p A magyar közösségek érdekeit szolgáló, a nemzeti identitásunkat külföldön is erősítő, hagyományőrző és egyéb kulturális   programok, koncertek szervezése,

  p Kulturális örökségünk ápolása és átadása legfőképpen a külföldön élő magyarok számára.

  p Böröczky Ferenc

  p Alapító

  p 2012. November 22.
