extend extends/nosidebar.jade

block maintitle
  | Jelentkezés

block maincontent
  p A Magyar Művészeti és Kulturális portál célja, a magyar művészek számára megjelenést, és egy kreatív, interaktív fórumot biztosítani.
  p A Portál web és közösségi oldalaira havonta töltjük fel a beérkezett alkotásokat.
  p Jelentkezni a következő kategóriákba lehet:
  ul
    li Szépirodalom
    li Zene
    li Képzőművészet
    li Tervezőművészet
    li Hagyományőrzés
    li Street Art
    li Film, Fotó
  p Minden érdeklődő művészt arra kérünk, hogy
    a(href='mailto:magyarmuveszetiportal@gmail.com')  küldjön egy e-mailt amagyarmuveszetiportal@gmail.com címre
    | , vagy
    a(href='files/jelentkezesi-lap.docx')  töltse le a jelentkezési lapot innen
    |  és küldje vissza az előbbi címre.
  p Az űrlaphoz lehet csatoni az alkotásokat, személyenként maximun 20 db fotót – lehetőleg jó felbontásban -, videó vagy hanganyagot és három szépirodalmi alkotást amelynek terjedelme nem haladja meg a maximum 10.000 karaktert.
  P Ha esetleg kérdés merülne fel benned akkor először javasoljuk hogy látogassál el a Gyakran Ismételt Kérdések oldalunkra(link). Amennyiben nem sikerült kérdésedre a választ megtalálnod, akkor kérünk hogy írjál egy e-mailt a magyarmuveszetiportal@gmail.com címre vagy használd az oldalunkon található űrlapot. Köszönjük!
  p Bízunk benne hogy hamarosan művészeink között tudhatunk Téged is!
  p Üdvözlettel
  p Böröczky Ferenc
  p Alapító
