extend extends/genre.jade

block genre
  | Képzőművészet

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='jako-mate.html', title='Jakó Máté')
      img.img-border(src='images/muveszeink/jako-mate/portrait.jpg', alt='Jakó Máté' style='width:178px;height:267px')
  h5.item-title
    a(href='jako-mate.html', title='Jakó Máté') Jakó Máté
