extend extends/genre.jade

block genre
  | Képzőművészet

block artistlist
  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='venczak-marianna.html', title='Venczák Marianna')
        img.img-border(src='images/muveszeink/venczak-marianna/profile.jpg', alt='Venczák Marianna' style='width:178px;height:267px')
    h5.item-title
      a(href='venczak-marianna.html', title='Venczák Marianna') Venczák Marianna

  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='kis-anasztazia.html', title='Kis Anasztázia')
        img.img-border(src='images/muveszeink/kis-anasztazia/genezis.jpg', alt='Kis Anasztázia' style='width:178px;height:267px')
    h5.item-title
      a(href='kis-anasztazia.html', title='Kis Anasztázia') Kis Anasztázia

  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='jako-mate.html', title='Jákó Máté')
        img.img-border(src='images/muveszeink/jako-mate/jako-mate-entenn-studi0-178x267.jpg', alt='Jákó Máté' style='width:178px;height:267px')
    h5.item-title
      a(href='jako-mate.html', title='Jakó Máté') Jákó Máté