extend extends/genre.jade

block genre
  | Képzőművészet

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='venczak_marianna.html', title='Venczák Marianna')
      img.img-border(src='images/muveszeink/venczak_marianna/profile.jpg', alt='Venczák Marianna' style='width:178px;height:267px')
  h5.item-title
    a(href='venczak_marianna.html', title='Venczák Marianna') Venczák Marianna
