extend extends/nosidebar.jade

block maintitle
  | Könyv

block maincontent
  section.team-member.clearfix
    img.alignleft.wp-post-image(src='images/rovatok/konyv/konyvklub-magyar-muveszeti-portal-310x465.jpg', alt='Könyvespolc', style='height:465px; width:310px;')

    p Túl sok a jó könyv és túl kevés az idő, nem is beszélve a könyvek árairól...
    p Mint mindannyian mi is szeretünk olvasni. Szeretjük a magyar irodalmat, a jó könyveket, újakat régieket, de nagyon nehéz megtalálni azt ami jó és érdekes. Évek óta szinte gyűjtő jelleggel veszem a könyveket és a legjobbakat antikváriumokban, bolhapiacokon és internetes használt könyvet árusító oldalakon szereztem/szerzem be. Nagyon sok könyvet kaptam, örököltem szüleimtől, de érdekes és értékeset - mint tartalmilag, mint esztétikailag -  a padláson is találtam már. Mindig is szerettem a könyvek illatát és szerintem sokan vagyunk még úgy, akik mielőtt megvennék a kiválasztott könyvet előtte meg is szagolják...mert ugye az illata is fontos egy könyvnek, nem csak a külleme vagy tartalma! Ez például egy erős érv amellett hogy miért ne vegyek digitális könyvhordozót. (Például eléggé problémás lenne megszagolni a PDF-ben letöltött könyvek illatát.. :) ) De mivel egy digitális kort élünk ezért lesznek majd letölthető könyvek is.
    p Tehát ha érdekel és szívesen csatlakoznál a portálunk könyvklubjához, akkor azt megteheted ha regisztrálsz az oldalunkon. A regisztráció után időközönként egy internetes vagy postai levél formájában elküldjük a legújabb könyveket új vagy kevésbé ismert íróktól, költőktől valamint felevenítjük régi nagy kedvenceinket is. 
    p A portál könyvklubjához való regisztrációs lap megtalálható ide kattinva.
    p A "Könyvespolcunkat" megtalálhatod ha ide kattitansz, és kedvedre válogathatsz a folyamatosan bővülő gyűjteményünkből és láthatod azt is hogy tagjaink milyen műveket ajánlanak olvasására de ajándékötleteket is kaphatsz.
    p A lényeg hogy új inspirációkra és gondolatokra találj! 
    p Csatlakozz hozzánk és bővítsük közösen a könyvesklubbunkat!
