extend ./extends/artist.jade

block name
  | Lukács László

block portrait
  img.alignleft.wp-post-image(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-magyar-muveszeti-portal-310x465.jpg', alt='Lukács László')

block bio
  p Lukács László a Bécsi Iparművészeti Egyetemen tanul textil – design szakon, fő témája a régi tradicionális anyagok újraértelmezése az anyagon teljes körű megismertetése.
  p Melyek ezek a hagyományos anyagok, amik a kollekcióban láthatóak?
  p Saritol egészen a Karintiai népi vászon szövetekig, amiket precíz technikai úton teljesen felold és megsemmisít, majd ezen maradványokból egy új anyagot hoz létre, mely így egy új arculatot mutat.
  p Hey-Mr! Cipőkollekció
  p Lukács László első nagyszabású női-férfi cipő együttese. Mik azok a gondolatok, amik a legjobban a Hey-Mr!-t jellemzik?
  p Fontos számomra a környezettudatosság, ezek az anyagok ne vesszenek el és hogy ezek, lábon hordva, mint cipő egy új utat járva, új történetet meséljenek el.
  p De ezek a termékek nem csak környezetbarátok hanem szociális desing egyik minta termékei is.
  p Mit is jelent az, hogy szociális design?
  p Ez annyit tesz, hogy a termékek, amiket Önök látnak és felpróbálnak, nem csak a tervező támogatja, hanem azok a kicsi manufaktúrák is, amik a textilipart anno Magyarországon jellemezték.
  p Lukács László együtt dolgozik több kisebb szombathelyi manufaktúrával, ezzel is azokat a tradicionális szakmákat akarja támogatni, megőrizni és új ötletekkel a 21. században nekik helyet találni és bemutatni.
  p A Hey-Mr! Minden alakomra hordható, ha valaki meg szeretné mutatni az egyéniséget és azt, hogy mennyire merészen és bátran tudja kimutatni tudatos érdeklődését az igazi design élvezetéhez.
  p Formavilágában ezek a cipők nagyon minimálisak, de anyagaiban a legextrémebb kombinációik egy szolid eleganciával.
  p Éppen emiatt minden alkalomra, koncertektől egészen kiállítás megnyitókig minden rendezvényen viselhetők. Az együttes teljesen unisex, hölgyek és urak számra is hordhatók.
  p A Hey-Mr! Környezettudatos kombinációja az eleganciának, minőségnek és őrült ötleteknek!

block gallery
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-1.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-1-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-2.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-2-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-3.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-3-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-4.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-4-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-5.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-5-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-6.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-6-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-7.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-7-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-8.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-8-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/lukacs-laszlo/hey-mr-9.jpg', title='Hey Mr')
      img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-9-383x233.jpg', alt='Hey Mr', style='width:383px;height:233px')
