extend extends/nosidebar.jade

block maintitle
  | MagyART – Mindennapi művészet

block maincontent
  p Mi, a Magyar Művészeti és Kulturális Portálnál hisszük, hogy a tudás, a nyílt információcsere, a gondolatok és vélemények szabad áramlása segít megváltoztatni, jobbá tenni azt a világot amiben élünk.
  p A MagyART tajga ebben hisznek.
  p A MagyART közössége tanfolyamain, továbbképzésein, programjain és fórumain keresztül segít fejleszteni a, művészeti, kultúrális ismereteket. Célunk összekötni, megismertetni egymással a hasonló gondolkodású embereket és találkozók keretében az összetartozás érzését erősíteni.
  p Ha szeretnél a MagyART – Mindennapi művészet tagja lenni,
    a(href='http://www.pannonart.com/')  kérjük látogassál el a PannonArt oldalunkra.