extend extends/nosidebar.jade

block maintitle
  | MagyART Kártya

block main_content
  h3.designation Regisztrálj, gyűjts pontokat vagy vegyed meg jegyedet kedvezményesen!
  P Szeretnénk megköszönni, hogy támogatod azt, ami számunkra is a legfontosabb: a Magyar művészetet és kultúrát.
  P A Magyar Művészeti és Kulturális Portál által kiadott <strong>MagyART Kártya</strong> segítségével jővőbeni vásárlásaid után hűségpontokat írunk jóvá.
  p Ha csatlakozol a <strong>MagyART Kártya</strong> programunkhoz, akkor szolgáltatásainkat kedvezményesen tudod igénybe venni (például jegyvásárlásnál) vagy hűségpontjaidat felhasználva megveheted kedvenc ételedet, italodat rendezvényeinken.
  p Szolgáltatásunk egyenlőre csak tesztüzemben működik, de hamarosan elkészül a teljes verzió. Ajánlatainkat és elfogadóhelyeink számát folyamatosan bővítjük, ezért érdemes feliratkozni programunkba!
  p A szolgáltatás <strong>TELJESEN INGYENES</strong>!
  p Csatlakozz Te is hozzánk és regisztrálj szolgáltatásunkra!
  a(href="www.magyarmuveszet.com/MagyARTkartya") www.magyarmuveszet.com/MagyARTkartya