extend extends/nosidebar.jade

block maintitle
  | MagyART – Mindennapi művészet

block maincontent
  p Mi, a
    em Magyar Művészeti és Kulturális Portálnál
    |  hisszük, hogy a tudás, a nyílt információcsere, a gondolatok és vélemények szabad áramlása segít megváltoztatni, jobbá tenni azt a világot amiben élünk. 
  p A 
    strong MagyART
    |  tagjai ebben hisznek. 
  p Célunk összekötni, megismertetni egymással a hasonló gondolkodású embereket és találkozók keretében az összetartozás érzését erősíteni.  

  p Ha szeretnél a
    strong  MagyART – Mindennapi művészet
    | tagja lenni,
    a(href='http://www.pannonart.com/')  kérjük látogassál el PannonArt oldalunkra.
  p
    em Magyar Művészeti és Kulturális Portál
