extend ./extends/artist.jade

block name
  |  Mécs- Szilágyi Nóra, Silkyway selyemfestő műhely

block portrait
  img.alignleft.wp-post-image(src='images/muveszeink/mecs-szilagyi_nora/silkyway_selyemfestes_noi_stola_ajandek_noknek.jpg', alt='Silkyway selyemfestő műhely - Női stóla készítés közben', style='height:465px; width:310px;')

block bio
  p A különböző kézműves technikákkal kiskorom óta foglalkozom, de szakmaként 2009-ben választottam a selyemfestést és a textiltervezést. Eredendően közgazdászként végeztem a Modern Üzleti Tudományok Főiskoláján, ahol a kereskedelem, a marketing és a nemzetközi kapcsolatok, kultúraközi kommunikáció volt a szakterületem. A gazdasági terület látszólag távol áll a művészettől, de számtalan olyan vonása van, amely kreativitást, művészi érzéket, belehelyezkedést és átérzést kíván, akárcsak a művészetek.

  p Mindig jelen volt az életemben a szépre, harmonikusra törekvés, akár a környezetemben, akár önmagamban. E kettőt - a kintet és bentet - szándékozom összekötni selyemkendőimmel, ruháimmal és ékszereimmel. Célom, hogy harmonizáló, gyógyító, a lelket olykor megnyugtató, olykor feltüzelő alkotásaim közt mindenki megtalálja azt, amire szüksége van, ami neki szép és aktuális.

  p Sokszor belső minőségeket jelenítek meg a kendőimen, melyek színeik és formáik által hatnak a lélekre, segítik a megvalósulást, feloldódást. (A színek hatásait a termékek leírásánál, illetve a cikkekben részletezem.) Fontos számomra a művészet gyógyító, formáló hatása, melyet az alkotások sokszor nem csak a konkrét formáik, hanem töltetük, energiájuk által közvetítenek. Legtöbben nem tudják beazonosítani, hogy miért tetszik nekik éppen az a színösszeállítás, formavilág, stb, de amint elkezdünk beszélni róla, rögtön kiderül, hogy arra van szüksége az illetőnek. Érdemes hallgatni az első (belső) hangra, ami sokszor helyesen súgja meg, mit viseljünk, mit hordjunk magunkon.

block gallery
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/silkyway_selyemfesto_muhely_matyo_selyemsal_keszul.jpg', title='Silkyway selyemfestő műhely matyó selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/silkyway_selyemfesto_muhely_matyo_selyemsal_keszul.jpg', alt='Silkyway selyemfestő műhely matyó selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/elefant_selyemkendo_ajandek_tanarnak.jpg', title='Silkyway selyemfestő műhely Elefánt selyemkedő')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/elefant_selyemkendo_ajandek_tanarnak.jpg', alt='Silkyway selyemfestő műhely Elefánt selyemkedőselyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/hand_painted_silk_scarf_with_palm_leaves.jpg', title='Silkyway selyemfestő műhely kézzel festett selyemsál pálma levelekkel')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/hand_painted_silk_scarf_with_palm_leaves.jpg', alt='Silkyway selyemfestő műhely kézzel festett selyemsál pálma levelekkel', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/mopsz_selyemkend.§jpg', title='Silkyway selyemfestő műhely - Mopsz selyemkendő készítés közben')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/mopsz_selyemkend.jpg', alt='Silkyway selyemfestő műhely - Mopsz selyemkendő készítés közben', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/silkyway_selyemfestes_noi_stola_ajandek_noknek.jpg', title='Silkyway selyemfestő műhely - Női stóla készítés közben')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/silkyway_selyemfestes_noi_stola_ajandek_noknek.jpg', alt='Silkyway selyemfestő műhely - Női stóla készítés közben', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/selyemfestes_selyem_salak_kendok_ajandek_noknek.jpg', title='Silkyway selyemfestő műhely - Selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/selyemfestes_selyem_salak_kendok_ajandek_noknek.jpg', alt='Silkyway selyemfestő műhely - Selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/aldas_selyem_salak_noknek_szinatmenetes_selyemfestessel.jpg', title='Silkyway selyemfestő műhely - Áldás selyemsálak szinatmentes nyomással')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/aldas_selyem_salak_noknek_szinatmenetes_selyemfestessel.jpg', alt='Silkyway selyemfestő műhely - Áldás selyemsálak szinatmentes nyomással', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/tancolo_habok_silkyway_selyem_kendo_narancs_zold_rozsaszin_lila.jpg', title='Silkyway selyemfestő műhely - Táncoló habok selyemkendő narancs, rozsaszín')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/tancolo_habok_silkyway_selyem_kendo_narancs_zold_rozsaszin_lila.jpg', alt='Silkyway selyemfestő műhely - Táncoló habok selyemkendő narancs, rozsaszín', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/indiai_elefant_fej_selyemkendo_silkyway.jpg', title='Silkyway selyemfestő műhely - Indiai elefántot ábrázoló selyemkendő')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/indiai_elefant_fej_selyemkendo_silkyway.jpg', alt='Silkyway selyemfestő műhely - Indiai elefántot ábrázoló selyemkendő', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/racsos_matyo_silkyway_selyemsal_ajandek_otletek_gundel_narancs_turkiz_rozsaszin_barna.jpg', title='Silkyway selyemfestő műhely - Rácsos matyó selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/racsos_matyo_silkyway_selyemsal_ajandek_otletek_gundel_narancs_turkiz_rozsaszin_barna.jpg', alt='Silkyway selyemfestő műhely - Rácsos matyó selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/kolibri_selyem_kendo_ajandek_noknek_nagy_kendo_turkiz_bordo.jpg', title='Silkyway selyemfestő műhely- Kolibri selyemkendő')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/kolibri_selyem_kendo_ajandek_noknek_nagy_kendo_turkiz_bordo.jpg', alt='Silkyway selyemfestő műhely- Kolibri selyemkendő', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/orosz_selyem_kendo_silkyway_selyemfestes.jpg', title='Silkyway selyemfestő műhely- Orosz selyemkendő')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/orosz_selyem_kendo_silkyway_selyemfestes.jpg', alt='Silkyway selyemfestő műhely- Orosz selyemkendő', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/pillangos_kert_selyem_sal_ajandek_noknek.jpg', title='Silkyway selyemfestő műhely- Pillangós kert selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/pillangos_kert_selyem_sal_ajandek_noknek.jpg', alt='Silkyway selyemfestő műhely- Pillangós kert selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/pillangomese_zold_vegyes.jpg', title='Silkyway selyemfestő műhely - Pillangómese zöld selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/pillangomese_zold_vegyes.jpg', alt='Silkyway selyemfestő műhely - Pillangómese zöld selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/magyar_kert_silkyway_selyemsal.jpg', title='Silkyway selyemfestő műhely - Magyar kert selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/magyar_kert_silkyway_selyemsal.jpg', alt='Silkyway selyemfestő műhely - Magyar kert selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/Szucs_kezzel_keszult_selyem_kendo.jpgSzucs_kezzel_keszult_selyem_kendo.jpg', title='Silkyway selyemfestő műhely - Szűcs kézzel készült selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/Szucs_kezzel_keszult_selyem_kendo.jpg', alt='Silkyway selyemfestő műhely - Szűcs kézzel készült selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/madar_lakik_abban_silkyway_kendo_kek_rozsaszin_narancs.jpg', title='Silkyway selyemfestő műhely - Madár lakik abban selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/madar_lakik_abban_silkyway_kendo_kek_rozsaszin_narancs.jpg', alt='Silkyway selyemfestő műhely - Madár lakik abban selyemsál', style='width:383px;height:233px')
  .gallery-item.type-gallery-item.gallery-item.isotope-item
    a.pretty-photo.zoom(href='images/muveszeink/mecs-szilagyi_nora/matyo_kert_karacsonyi_ajandek_noknek_noi_kendok_salak.jpg', title='Silkyway selyemfestő műhely -Matyó kert selyemsál')
      img.img-border(src='images/muveszeink/mecs-szilagyi_nora/matyo_kert_karacsonyi_ajandek_noknek_noi_kendok_salak.jpg', alt='Silkyway selyemfestő műhely -Matyó kert selyemsál', style='width:383px;height:233px')

