extend extends/nosidebar.jade

block maintitle
  | Média ajánlat

block maincontent
  h2 Tisztelt leendő partnerünk.
  p Média ajánlatunk jelenleg kialakítás alatt áll. Amennyiben kérdése merülne fel,
    a(href='kapcsolat.html')  kérjük lépjen velünk kapcsolatba
    | .
  p Köszönjük.
  p Magyar Művészeti és Kulturális Portál
