extend extends/nosidebar.jade

block maintitle
  | Mese

block maincontent
  // Content
  section.team-member.clearfix
    img.alignleft.wp-post-image(src='images/rovatok/mese/mese.jpg', alt='Magyar Népmesék', style='height:465px; width:310px;')

    p Miért "csodás elemeket tartalmazó, naiv hangulatú" sorozat ez?
    p Mert ez a Mese meghatározása.
    p És hogy miért a meséről kezdünk el sorozatot?
    p Több okból is. Talán a legfontosabb ok az az hogy a mese, a magyar kultúra, népművészet szerves része, amelyre fel kell hívni a figyelmet.
    p Azért mert a média hatása nem feltétlenül azt az értékrendet hordozza amelyre ebben a felfordult, egyre inkább elértéktelenedő világban szükség lenne.
    p Azért mert szeretnénk segítséget adni ahhoz hogy a magyar Népművészet ezen ága fenntmaradjon, fejlődjön hogy tovább tudjuk adni a következő generáció számára.
    p A következő sorozatunk célja az is hogy átéljük mindazt amit a Mesének köszönhetünk. 
    p "A népmese sajátos bája és sajátos realizmusa abban áll, hogy sok szempontból is érdekes és különleges tükrözője a valóságnak: a népmesét fenntartó nép múltjának, jelenének, mindennapi életének elemei éppúgy megtalálhatók benne, mint a becsületesebb, igazabb életbe vetett hitnek a mesei igazságszolgáltatásban megtestesült kifejezése."
    p A mesék mondanivalója tehát sokkal összetettebb mint ahogy mi azt gondolnánk. Gondoljunk csak a Négyszögletű kerekerdőre, Csipike kalandjaira, Benedek Elek vagy éppen Kányádi Sándor, Sűtő András meséire.
    p Minden két hétben a blogunkban bemutatunk, újra felfedezünk meseírókat és azok műveit. Reméljük hogy hozzá tudunk segíteni minden kedves olvasót ahhoz hogy mindazt a tudást, józan észt ami a magyar népmesékben van, könnyebben át tudja adni mindazok számára akik az örökségünket tovább kell hogy ápolják.
