extend extends/nosidebar.jade

block maintitle
  | Müvészeink

block maincontent
  p Tevékenységünk központjában a magyar művészek, kreatív társadalom és a befogadók közötti kapcsolat felépítése és   folyamatosa fejlesztése áll. Portálunkhoz csatlakozott művészeink számára ingyenes megjelenést biztosítunk honlapunkon, internetes Irodalmi Naplónkban, Közösségi Oldalainkon.

  p Alkotóink számára kiállítások, bemutatók szervezése Magyarországon és a világ más magyarok lakta városaiban. Magyar művészek külföldi oldalakon való megjelenésének lehetővé tétele.

  p Amennyiben szeretnél kezdeményünkhöz csatlakozni, kérünk lépjél kapcsolatba velünk vagy <a href="jelentkezes.html">töltsd ki a jelentkezési ürlapot.</a>

  hr.separator

  h2 Müvészeti kategoriák

  #gallery-container.gallery-4-columns.isotope.clearfix
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='szepirodalom.html', title='Szépirodalom')
          img.img-border(src='images/muveszeink/szepirodalom.jpg', alt='Szépirodalom' style='width:178px;height:140px')
      h5.item-title
        a(href='szepirodalom.html', title='Szépirodalom') Szépirodalom

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='kepzomuveszet.html', title='Képzőművészet')
          img.img-border(src='images/muveszeink/kepzomuveszet.jpg', alt='Képzőművészet' style='width:178px;height:140px')
      h5.item-title
        a(href='kepzomuveszet.html', title='Képzőművészet') Képzőművészet

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='tervezomuveszet.html', title='Tervezőművészet')
          img.img-border(src='images/muveszeink/tervezomuveszet.jpg', alt='Tervezőművészet' style='width:178px;height:140px')
      h5.item-title
        a(href='tervezomuveszet.html', title='Tervezőművészet') Tervezőművészet

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='hagyomanyorzes.html', title='Hagyományőrzés')
          img.img-border(src='images/muveszeink/hagyomanyorzes.jpg', alt='Hagyományőrzés' style='width:178px;height:140px')
      h5.item-title
        a(href='hagyomanyorzes.html', title='Hagyományőrzés') Hagyományőrzés

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='streetart.html', title='Street art')
          img.img-border(src='images/muveszeink/streetart.jpg', alt='Street art' style='width:178px;height:140px')
      h5.item-title
        a(href='streetart.html', title='Street art') Street art

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='zene.html', title='Zene')
          img.img-border(src='images/muveszeink/zene.jpg', alt='Zene' style='width:178px;height:140px')
      h5.item-title
        a(href='zene.html', title='Zene') Zene

    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        a(href='filmfoto.html', title='Film, fotó')
          img.img-border(src='images/muveszeink/filmfoto.jpg', alt='Film, fotó' style='width:178px;height:140px')
      h5.item-title
        a(href='filmfoto.html', title='Film, fotó') Film, fotó
