extend ./extends/artist-without-gallery.jade

block name
  | Rohács Sándor

block portrait
  img.alignleft.wp-post-image(src='images/muveszeink/rohacs-sandor/rohacs-sandor-magyar-muveszeti-portal-310x465.jpg', alt='Rohács Sándor')

block bio
  div(style='width: 478px; float: right; box-sizing: border-box; margin-top: 5px;')
    blockquote
      p Ezt a kis művet szeretettel ajánlom mindenki számára, mivel gondolatok, érzések, érzelmek rövid kis összeállítása.
      p Szeretném ha mindenki olvasná, tanulmányozná és elgondolkodna rajta. A visszajelzések nekem nagyon fontosak, hiszen úgy gondolom hogy a mindennapi életünket foglalkoztató örömök és fájdalmak vannak szavakba, versekbe foglalva.
      p Bízom benne hogy segítségével megoldást, egyfajta összefogást egy szebb és harmonikusabb országot, Európát és világot tudunk teremteni.
      p Verseimet tiszta szívemből és lelkemből írtam.
      p Köszönöm mindenkinek aki csak olvassa és megérti ezen sorokat.
      | -
      cite Rohács Sándor

    h4 Rohács Sándor


    h5 Mennyit Ér?!

    p
      | Mennyit érek én gyermekeim nélkül?
      br
      | És mennyit érek majd szerető kedvesem nélkül?
      br
      | Mond mennyit érek, ha majd szívemből szeretek?
      br
      | Mondjátok mennyit érünk ha nem lesz már szeretet?

    p
      | Mennyit ér a kert ha nem nő benne virág?
      br
      | Mennyit ér az erdő ha nincsenek benne fák?
      br
      | Mond mennyit ér az égbolt fodros felhők nélkül?
      br
      | Mondjátok mennyit ér a föld, szorgos paraszt nélkül?

    p
      | Mennyit ér a vulkán izzó láva nélkül?
      br
      | Mennyit ér a folyó széles medre nélkül?
      br
      | Mond mennyit ér a nap mi nem reánk ragyog?
      br
      | Mondjátok mennyit ér majd hazánk ha nem lesznek Magyarok?

    p
      | Mennyit ér a száj, mely szólni már nem mer?
      br
      | Mennyit ér a madár, ki repülni sem mer?
      br
      | Mond mennyit ér a tűz, mi fényesen lobog?
      br
      | Mondjátok mennyit ér a tenger, hogyha nem háborog?

    p
      | Mond mennyit érnek azok, kik házaink elveszik?
      br
      | És mennyit ér majd fejem, mikor ők bitó alá teszik?
      br
      | Mond ennyit ér majd, sok utcára tett ember?
      br
      | Mondjátok mennyit érnek ők, karjukban éhező gyermekkel?

    p
      | Mond mennyit érnek az apák, kiknek már nincsen hitük?
      br
      | Mond mennyit érnek az anyák, kiknek nem lehet gyermekük?
      br
      | Mond mennyit érek én akkor ha nem leszek?
      br
      | És mondjátok mennyit ér a világ, ha már nem lesznek emberek?

    h5 Az utazó

    p
      | Egyszer álmomban csodás dolgot tettem,
      br
      | batyut vettem vállamra és útnak eredtem.
      br
      | Mentem én át hegyeken, völgyeken
      br
      | átkeltem folyókon, zord és vad tengeren.

    p
      | Szárnyaltam az égen mint a szabad madár,
      br
      | merre szívem vitt, nem volt semmi határ.
      br
      | Jéghegyeket másztam mint a jegesmedve,
      br
      | kicsit vacogva, s olykor dideregve.

    p
      | Eljutottam messze el a nagy semmibe,
      br
      | egy hatalmas sivatag kellősközépibe.
      br
      | A nagy melegtől igen szomjas lettem,
      br
      | mély gödröt ásva, én vizet teremtettem.

    p
      | Tovább mendegélve Egyiptomba mentem,
      br
      | s a piramisokat én jól szemügyre vettem.
      br
      | Tetejére mászva úgy érzem hogy inog,
      br
      | hogy hogyan került ide, ez még ma is titok.

    p
      | Elmentem én hát a vadaknak tájára,
      br
      | elmentem én a messzi szavannákra.
      br
      | Hol az antilop, a zebra, és a kismalac is túr
      br
      | ott ahol bizony, az oroszlán az úr.

    p
      | De estére elfáradtam, és lassú lett a léptem,
      br
      | a napot a hold váltja odafenn az égen.
      br
      | Vékony ágakból kicsi ágyat vetek,
      br
      | s lapulevélre lehajtom a fejem.

    p
      | Ám reggel mikor újra felébredtem,
      br
      | e hatalmas útról én mélyen elderengtem.
      br
      | Mert láthatok én bármi csodásat és szépet,
      br
      | mindig lesz egy hely mely számomra oly édes.

    p
      | Lássanak hát csodát,
      br
      | a kicsik és nagyok
      br
      | Magyarország hahó!
      br
      | Újra itthon vagyok.



