extend extends/nosidebar.jade

block maintitle
  | Rovatok

block maincontent
  section.team-member.clearfix
    img.alignleft.wp-post-image(src='images/rovatok/design/gabor-monika-310x465.jpg', alt='Gábor Mónika', style='height:465px; width:310px;')

    h2 Gábor Mónika – Design 
    p A Budapesti Gazdasági Főiskolán (akkor még Külkereskedelmi Főiskolának hívták) közgazdászként és az Eötvös Lóránd Tudomány Egyetem jogi karán posztgraduális képzésén jogi szakokleveles közgazdászként végeztem, valamint a neves párizsi ESSEC Business School-ban szereztem meg az MBA diplomámat, ahol luxustermékek és szolgáltatások Brand Management-jére specializálódtam. Jelenleg Svájcban élek és az
      a(href='http://infinitiluxe.ch')  Infiniti LUXE
      |  céget vezetem, amelynek egyben társalapítója is vagyok.
    p Munkám nagyrészében márkaépítéssel és kommunikációs tanácsadással foglalkozom.
    p A Hungarian Success Stories online magazint azért kezdtem el, körülbelül 2 évvel ezelőtt, mert úgy éreztem, hogy egyre több olyan sikeres magyar cég, brand, egyéniség van Magyarországon, akikről nemzetközi oldalakon nagyon keveset, vagy semmit sem lehet olvasni. Ez az oka annak is, hogy angol nyelven írom az oldalt, hogy minél több helyre eljusson a magyar tehetségek híre.
    p A számos visszajelzésből kiderül, hogy a munkámmal a Hungarian Success Stories online magazinnal többször segítettem a bemutatott cégeknek, tehetségeknek többletüzletet generálni. Ennek természetesen nagyon örülök, hiszen ez a célja a munkámnak.
    p Élettárssammal és fiatal temperamentumos labrador kutyánkkal nagyon sok időt töltünk a természetben. Szerencsémre a munkám a hobbim, illetve a hobbim a munkám, így a marketing és online világában is szívesen és kiváncsian mozgok.
    p E-mailben a
      a(href='mailto:Hungarian.success.stories@gmail.com')  Hungarian.success.stories@gmail.com
      | -on tudsz engem megkeresni.
    p A Design rovatnak pedig a
      a(href='mailto:design@magyarmuveszet.com')  design@magyarmuveszet.com
      |  címre tudsz írni. 

  hr.separator

  section.team-member.clearfix
    img.alignleft.wp-post-image(src='images/rovatok/hagyomanyorzes/tanczos-erzsi-310x465.jpg', alt='Tánczos Erzsi', style='height:465px; width:310px;')

    h2 Tánczos Erzsi - Hagyományőrzés
    p Magyar/ angol szakos tanár vagyok, drámapedagógiát is végeztem. Talán az utóbbi a szívem csücske, bár azt külön ritkán tanítjuk tantárgyként.  Budapesten élek, ott tanultam, ott is tanítok egy állami iskolában. 3 fiúgyermeket nevelünk.
    p Mindig is érdekeltek a hagyományok, a népmesék, legendák rendszere, gondolatvilága, mindenféle mitológia, így hát a magyar mitológiai is. Igyekszem ismerni a gyógynövényeket, népi praktikákat, és használom is ezeket a lehetőségeim szerint. A Mesterségek Ünnepére Budapesten gyakorlatilag a kezdetek óta kijárok látogatóként ( mostanában már újságíróként) , és csodálom a portékákat, mesterségbemutatókat, sok mindent ki is próbálok. Idővel felmerült bennem, hogy a jeles napokat fel kellene dolgoznom olvasmányosan, érdekesen, személyes hangvétellel. Arra gondoltam, hogy ez a tanításban is hasznomra lehet. 
    p A netfolk: népművészet, hagyományok blogot 2012. augusztus 20-án indítottam, jellemzően jeles napon, talán fordulóponton. 
    p Akkor már a tarsolyomban volt egy-két beszélgetés népművészekkel, népi iparművészekkel, mert igen érdekel az egyes alkotók életútja, motivációja, tapasztalata és persze az olyan szakmai trükkök, amiket akár én is fel tudok használni ( pl.: hogyan fújjuk ki a tojást, ha hímes tojást készítünk?)
    p Néhány hónappal később hoztam létre a kapcsolódó facebook oldalt, a netfolkot. Itt a saját írásaim mellett hasonló témájú anyagok is szerepelnek.
    p Érdekes, de nem volt központi kérdés számomra, hogy sokan olvassák-e a bejegyzéseimet, csak tettem, amit szívesen csinálok: írtam, csak  írtam, írok most is szívesen …. Idővel csodálkoztam csak rá, hogy a netfolk köré gyűlt egy kör érdeklődőkből, követőkből. Nagy öröm, ha az írásaim másnak is tetszenek, hasznosak. Volt már pár megható visszajelzés. 
    p Igen, bízom benne, hogy a riportokkal felhívom az olvasók figyelmét a művészekre, illetve az általuk művelt szakmára, tevékenységre. Szerencsére kapok is erre mutató visszajelzéseket.
    p Közvetetten ezek a riportok valahol a közművelődést szolgálják, de konkrét haszna az egyes művészeknek, hogy egy-egy (újra) posztolt riport után többen keresik őket, vagy rajtam keresztül  találnak meg alkotókat az olvasóim.  Ez jó érzés, szívesen vagyok ilyen katalizátor.
    p 3 kölök mellett szabadidő... Szívesen vagyok a családommal, kirándulunk és hasonló közhelyes, de egyben nagyszerű dolgokat művelünk. Egyébként a netfolk „ működtetése” is a szabadidőmben történik,  ( ebbe beleértem a kiállításokra, koncertekre és egyebekre járást, szakirodalom olvasását is), és kifejezetten élvezem..
    p Ilyen a netfolk facebook oldal, Tánczos Erzsébet facebook oldala  - ezeken közvetlen kapcsolatba is tudunk kerülni, és persze olvassák a 
      a(href='http://netfolk.blog.hu/', target='_blank')  http://netfolk.blog.hu/
      |  oldalamat.

  hr.separator

  section.team-member.clearfix
    img.alignleft.wp-post-image(src='images/rovatok/mesepedagogia/bajzath-maria-310x465.jpg', alt='Bajzáth Mária', style='height:465px; width:310px;')

    h2 Bajzáth Mária - Mesepedagógia
    p Bajzáth Mária az ELTE Pedagógia Pszichológia karán végezett neveléstudományi bölcsészként. 1990 óta foglalkozik gyerekekkel, mesékkel és pedagógiával. Az elméleti felkészülés mellett a mindennapos gyakorlat alakította az általa kidolgozott mesepedagógiai módszert, amit néhány éve akkreditált képzés formájában tanít szerte az országban és országhatáron kívül. Előadásokat tart az ELTE TÓK, az ELTE PPK, a NYME Pedagógia karán, valamint különböző konferenciákon, bölcsődékben, óvodákban, iskolákban és könyvtárakban.
    p A paloznaki Meseközpont megnyitása óta részt vesz az ott folyó munkában.
    p Budapesten vezeti a Népmesekincstár Mesepedagógia Műhelyt, amely az érdeklődő szülőknek és pedagógusoknak ad lehetőséget arra, hogy minél alaposabban elsajátíthassák a módszert, és mesékkel segíthessék a gyerekek fejlődését.
