extend extends/genre.jade

block genre
  | Street art

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='meszaros-laszlo.html', title='Mészáros László')
        img.img-border(src='images/muveszeink/meszaros-laszlo/amorfart-178x265.jpg', alt='Mészáros László' style='width:178px;height:267px')
    h5.item-title
      a(href='meszaros-laszlo.html', title='Mészáros László') Mészáros László

