extend extends/genre.jade

block genre
  | Szépirodalom

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='rohacs-sandor.html', title='Rohács Sándor')
      img.img-border(src='images/muveszeink/rohacs-sandor/rohacs-sandor-magyar-muveszeti-portal-310x465.jpg', alt='Rohács Sándor' style='width:178px;height:267px')
  h5.item-title
    a(href='rohacs-sandor.html', title='Rohács Sándor') Rohács Sándor
