extend extends/nosidebar.jade

block maintitle
  | Szerzői jogok

block maincontent
  p A weboldal közleményeinek alapjául szolgáló tények és napi hírek a forrás megjelölésével szabadon felhasználhatóak.
  p A honlap szerzői jogi védelem alá eső tartalma, illetve annak bármely alkotóeleme (különösen szöveg, kép, videó, animáció stb.) - a szerzői jogról szóló 1999. évi LXXVI. törvényben szabályozott szabad felhasználás eseteit kivéve - csak a Magyar Művészeti és Kulturális Portál előzetes, írásos engedélyével használható fel.
  p A Magyar Művészeti és Kulturális Portál engedélye nélkül az oldalak bármely szerzői jogvédelem alá eső alkotóelemének (sajtóban) történő többszörözése, nyilvánossághoz való közvetítése tilos.
  p A felhasználásnak minden esetben meg kell felelnie a hatályos jogszabályi rendelkezéseknek, így különösen a sajtószabadságról és a médiatartalmak alapvető szabályairól szóló 2010. évi CIV. törvény, a Büntető Törvénykönyv (1978. évi IV. tv.), a büntetőeljárásról szóló 1998. évi XIX. törvény, a Polgári Törvénykönyv (1959. évi IV. tv.) és a szerzői jogról szóló 1999. évi LXXVI. törvény rendelkezéseinek.
  p Előzetes írásos engedély nélkül a honlap szerzői jogi védelem alá eső elemei nem helyezhetőek el sem nyilvános, sem zárt adatbázisban. A weboldal illetve annak alkotóelemei közlési engedély esetén sem változtathatóak meg és nem használhatóak fel a portál tartalmától eltérő célra.
  p A weboldal tartalmának szerzői joga (különös tekintettel a fényképekre) a Magyar Művészeti és Kulturális Portál illeti meg, kivéve abban az esetben, ha a konkrét dokumentumban más forrás van feltüntetve, illetve a szerzői joggal kapcsolatban más közlés történik.
  p A Magyar Művészeti és Kulturális Portál portálján található, szolgáltatásról szóló referenciák (linkek) - előzetes bejelentés után – szabadon elhelyezhetőek más online szolgáltatásokban. A kapcsolódás elhelyezéséről való előzetes bejelentést a magyarmuveszetiportal@gmail.com e-mail címre kérjük megküldeni. A Magyar Művészeti és Kulturális Portál fenntartja magának a jogot, hogy a méltatlan környezetbe helyezett kapcsolódás ellen kifogást emeljen, illetve annak megszüntetését kezdeményezze.
  p A honlap tartalmának felhasználásával kapcsolatban további információt kaphat a magyarmuveszetiportal@gmail.com e-mail címen. Levelében kérjük, hogy nevét, elektronikus postacímét és a felhasználás kívánt módját megjelölni szíveskedjen.
  p A portál szerkesztői mindent megtesznek azért, hogy az itt közölt információk pontosak, frissek és teljesek legyenek, de semmiféle felelősséget nem vállalnak bármely, ezen információk felhasználásából adódó kár bekövetkeztéért.