extend extends/nosidebar.jade

block maintitle
  | Szponzoráció

block maincontent
  p Tisztelt leendő Partnerünk!
  p Kérném, hogy engedje meg hogy egy esetleges jövőbeni együttműködés reményében figyelembe ajánljunk szervezetünket és honlapunkat.
  p A Magyar Művészeti és Kulturális Portál egy olyan speciális kezdeményezés, ahol a vállalatok, azok ügyfelei, az állam és a társadalom egyre fokozódó szociális és kulturális felelősségvállalás keretében a helyi közösségekkel együtt dolgozhatnak és alkothatnak maradandó értéket.
  P Számunkra a legfontosabb a magyar művészet, kultúra magas színvonalon való továbbadása, a kihalófélben  lévő magyar mesterségek és azok mestereinek felkutatása és bemutatása. Mindezt olyan programokon keresztül tesszük, amelyek elsősorban egy a “Kultúra kiemelt támogatója” kép kialakítását szolgálják – mint például egy reklámkampány, rendezvény, kiállítás, művész vagy kiadvány támogatása.
  p Ha a stratégiánk és üzleti modellünknek megfelelően tervezzük ezen tevékenységünket, akkor a fenntarthatóság és a közösségek támogatása olyan tényezővé válhat, amely pótlólagos üzleti sikert hoz minden résztvevő számára.
  p További információért kérjük lépjen kapcsolatba velünk az itt található űrlap kitöltésével.

  section#contact-form
    form.contact-form.clearfix(action='contact.php', method='post', novalidate='')
      p.adjust
        label(for='name')
          | Név
          span *
        input#name.required(type='text', name='name', value='', title='* Please enter your name')
      p
        label(for='pn') Telefonszám span *
        input#pn(type='text', name='pn', value='')
      label(for='message')
        | Üzenet
        span *
      textarea#message.required(name='message', title='* Please enter your message')
      .captcha-container
        label Are you human?
        img.captcha-img(src='captcha/captcha.php', alt='')
        input.captcha.required(type='text', name='captcha', maxlength='5', title='* Please enter the code characters displayed in image!')
      input.submit(type='submit', name='submit', value='Send Message')
      img#contact-loader(src='images/ajax-loader.gif', alt='Loading...')
      input(type='hidden', name='action', value='send_message')
      input(type='hidden', name='target', value='robot@psdtohtmlwp.com')
    .error-container
    p#message-sent &nbsp;

