extend extends/genre.jade

block genre
  | Tervezőművészet

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='mecs-szilagyi-nora.html', title='Mécs - Szilágyi Nóra')
        img.img-border(src='images/muveszeink/mecs-szilagyi-nora/silkyway-mecs-szilagyi-nora-magyar-muveszeti-portal-178x267.jpg', alt='Mécs - Szilágyi Nóra' style='width:178px;height:267px')
    h5.item-title
      a(href='mecs-szilagyi-nora.html', title='Mécs - Szilágyi Nóra') Mécs - Szilágyi Nóra
  .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
    figure
      a(href='lukacs-laszlo.html', title='Lukács László')
        img.img-border(src='images/muveszeink/lukacs-laszlo/hey-mr-lukacs-laszlo-magyar-muveszeti-portal-310x465.jpg', alt='Lukács László' style='width:178px;height:267px')
    h5.item-title
       a(href='lukacs-laszlo .html', title='Lukács László') Lukács László

