extend extends/genre.jade

block genre
  | Tervezőművészet

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='orban-ferenc.html', title='Orbán Ferenc')
      img.img-border(src='images/muveszeink/orban_ferenc/portrait.jpg', alt='Orbán Ferenc' style='width:178px;height:267px')
  h5.item-title
    a(href='orban-ferenc.html', title='Orbán Ferenc') Orbán Ferenc
