extend extends/genre.jade

block genre
  | Tervezőművészet

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='mecs-szilagyi-nora.html', title='Mécs - Szilágyi Nóra')
      img.img-border(src='images/muveszeink/mecs-szilagyi-nora/silkyway-selyemfestes-noi-stola-ajandek-noknek.jpg', alt='Mécs - Szilágyi Nóra' style='width:178px;height:267px')
  h5.item-title
    a(href='mecs-szilagyi-nora.html', title='Mécs - Szilágyi Nóra') Mécs - Szilágyi Nóra
