extend extends/genre.jade

block genre
  | Zene

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='andras-fox.html', title='András Fox')
      img.img-border(src='images/muveszeink/andras-fox/andras-fox-magyar-muveszeti-portal-310x465.jpg', alt='András Fox' style='width:178px;height:267px')
  h5.item-title
    a(href='andras-fox.html', title='András Fox') András Fox

 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='orban-ferenc.html', title='Orbán Ferenc')
      img.img-border(src='images/muveszeink/orban-ferenc/portrait.jpg', alt='Orbán Ferenc' style='width:178px;height:267px')
  h5.item-title
    a(href='orban-ferenc.html', title='Orbán Ferenc') Orbán Ferenc
