extend extends/genre.jade

block genre
  | Zene

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='andras-fox.html', title='Andr치s Fox')
      img.img-border(src='images/muveszeink/andras-fox/andras-fox-magyar-muveszeti-portal-310x465.jpg', alt='Andr치s Fox' style='width:178px;height:267px')
  h5.item-title
    a(href='andras-fox.html', title='Andr치s Fox') Andr치s Fox
