extend extends/genre.jade

block genre
  | Zene

block artistlist
 .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item
  figure
    a(href='orban-ferenc.html', title='Orb치n Ferenc')
      img.img-border(src='images/muveszeink/orban_ferenc/portrait.jpg', alt='Orb치n Ferenc' style='width:178px;height:267px')
  h5.item-title
    a(href='orban-ferenc.html', title='Orb치n Ferenc') Orb치n Ferenc
