doctype html
//if lt IE 7
  html.lt-ie9.lt-ie8.lt-ie7(lang='en-US')  
//if IE 7
  html.lt-ie9.lt-ie8(lang='en-US')  
//if IE 8
  html.lt-ie9(lang='en-US')  
// [if gt IE 8] <!
html(lang='en-US')
  // <![endif]
  head
    // META TAGS
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title Elegantia Restaurant and Cafe Theme
    // FAVICON
    link(rel='shortcut icon', href='images/favicon.png')
    // Google Web Fonts
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    // Style Sheet
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='css/main.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/media-queries.css', type='text/css', media='all')
    link(rel='stylesheet', href='js/flexslider/flexslider.css', type='text/css', media='all')
    link(rel='stylesheet', href='js/prettyphoto/prettyPhoto.css', type='text/css', media='all')
    link(rel='stylesheet', href='js/the-tooltip/the-tooltip.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/custom.css', type='text/css', media='all')
    link(rel='stylesheet', href='js/jquery-ui-1.9.0.custom/css/trontastic/jquery-ui-1.9.0.custom.css', type='text/css', media='all')
    // Script
    script(type='text/javascript', src='js/jquery-1.8.3.min.js')
    script(type='text/javascript', src='js/elastislide/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/elastislide/jquery.elastislide.js')
    script(type='text/javascript', src='js/prettyphoto/jquery.prettyPhoto.js')
    script(type='text/javascript', src='js/jquery.validate.min.js')
    script(type='text/javascript', src='js/jquery.form.js')
    script(type='text/javascript', src='js/flexslider/jquery.flexslider-min.js')
    script(type='text/javascript', src='js/jquery.isotope.min.js')
    script(type='text/javascript', src='js/the-tooltip/the-tooltip.min.js')
    //if lt IE 9
      script(src='js/html5.js')
    //if (gte IE 6)&(lte IE 8)
      script(defer='', src='s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.4-min.js')
      script(defer='', src='js/the-tooltip/selectivizr-min.js')
  body
    // Start wrap
    #page-content-wrap
      // Start Header
      #header-wrapper
        header#header
          h6 Las Angeles, AV 123456 - 123.456.7800
          // Left Menu
          nav.main-menu.left.clearfix
            .menu-left-main-menu-container
              ul#menu-left-main-menu.clearfix
                li.menu-item
                  a(href='index.html') Home
                li.menu-item
                  a(href='our-menu.html') Menu
                li.menu-item
                  a(href='#') Gallery
                  ul.sub-menu
                    li.menu-item
                      a(href='gallery-2-columns.html') 2 Columns Gallery
                    li.menu-item
                      a(href='gallery-3-columns.html') 3 Columns Gallery
                    li.menu-item
                      a(href='gallery-4-columns.html') 4 Columns Gallery
                    li.menu-item
                      a(href='candel-light-dinner.html') Gallery Item Detail
                li.menu-item
                  a(href='faq.html') FAQs
                li.menu-item
                  a(href='about.html') About
                  ul.sub-menu
                    li.menu-item
                      a(href='about.html') About
                    li.menu-item
                      a(href='about-left-sidebar.html') About &ndash; Left Sidebar
          // Header Logo
          #logo
            // Website Logo
            a(href='index.html', title='Elegantia Restaurant and Cafe Theme')
              img(src='images/elegantia-logo.png', alt='Elegantia Restaurant and Cafe Theme')
          // Right Menu
          nav.main-menu.right.clearfix
            .menu-right-main-menu-container
              ul#menu-right-main-menu.clearfix
                li.menu-item
                  a(href='contact.html') Contact
                li.menu-item
                  a(href='#') Others
                  ul.sub-menu
                    li.menu-item
                      a(href='reservation.html') Reservation
                    li.menu-item
                      a(href='elements.html') Elements
                    li.menu-item
                      a(href='fullwidth.html') Full Width
                    li.menu-item
                      a(href='candel-light-dinner.html') Gallery Item Single
                    li.menu-item
                      a(href='single-team.html') Team Member Single
                    li.menu-item
                      a(href='cream-cakes.html') Menu Item Single
                li.menu-item
                  a(href='blog.html') Blog
                li.menu-item
                  a(href='our-team.html') Team
                li.menu-item
                  a(href='events.html') Events
      // End Header
      // Bottom Strip
      .bottom-strip-wrapper
        .bottom-strip
          p
            span Call 023 7526 8539  or Make Online Reservation
            a(href='reservation.html') MAKE  RESERVATION NOW
      // Start Container
      #container
        // Content
        .content.full-width.clearfix
          .container-top
          section.page-head
            h1
              span 3 Columns Gallery
          #main-content
          // End Main
          // Gallery Filter
          ul#filter-by.clearfix
            li
              a.active(href='', data-filter='gallery-item') All
            li
              a(href='', data-filter='food', title='View all Gallery Items filed under Food') Food
            li
              a(href='', data-filter='glasses', title='View all Gallery Items filed under Glasses') Glasses
            li
              a(href='', data-filter='interior', title='View all Gallery Items filed under Interior') Interior
          // Gallery Container
          #gallery-container.gallery-3-columns.isotope.clearfix
            .gallery-item.type-gallery-item.gallery-item.isotope-item.food
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/food-table-241x147.jpg', title='Restaurant Food')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/food-table-241x147.jpg', alt='Restaurant Food')
              h5.item-title
                a(href='', title='Restaurant Food') Restaurant Food
            .gallery-item.type-gallery-item.gallery-item.isotope-item.food.interior
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/night-dinner-241x147.jpg', title='Candel Light Dinner')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/night-dinner-241x147.jpg', alt='Candel Light Dinner')
              h5.item-title
                a(href='', title='Candel Light Dinner') Candel Light Dinner
            .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses.interior
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/glasses-three-241x147.jpg', title='Glasses on Table')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/glasses-three-241x147.jpg', alt='Glasses on Table')
              h5.item-title
                a(href='', title='Glasses on Table') Glasses on Table
            .gallery-item.type-gallery-item.gallery-item.isotope-item.interior
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/candel-241x147.jpg', title='Candel')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/candel-241x147.jpg', alt='Candel')
              h5.item-title
                a(href='', title='Candel') Candel
            .gallery-item.type-gallery-item.gallery-item.isotope-item.interior
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/food-table1-241x147.jpg', title='Interior Photo')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/food-table1-241x147.jpg', alt='Interior Photo')
              h5.item-title
                a(href='', title='Interior Photo') Interior Photo
            .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/glasses-241x147.jpg', title='Glasses Two')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/glasses-241x147.jpg', alt='Glasses Two')
              h5.item-title
                a(href='', title='Glasses Two') Glasses Two
            .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/glasses-two-241x147.jpg', title='Glasses and Food')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/glasses-two-241x147.jpg', alt='Glasses and Food')
              h5.item-title
                a(href='', title='Glasses and Food') Glasses and Food
            .gallery-item.type-gallery-item.gallery-item.isotope-item.food
              figure
                .media_container
                  a.pretty-photo.zoom(href='images/plate-one-241x147.jpg', title='Food Plates')
                  a.link(href='candel-light-dinner.html')
                img.img-border(src='images/plate-one-241x147.jpg', alt='Food Plates')
              h5.item-title
                a(href='', title='Food Plates') Food Plates
          // end of gallery container
          .container-bottom
        // End Content
      // End Container
      // Start Footer
      #footer-wrapper
        footer#footer
          // Footer Menu
          nav#footer-menu
            ul#menu-footer-menu.clearfix
              li
                a(href='index.html') Home
              li
                a(href='blog.html') Blog
              li
                a(href='our-team.html') Our Team
              li
                a(href='events.html') All Events
              li
                a(href='gallery-2-columns.html') Gallery
              li
                a(href='our-menu.html') Our Menu
              li
                a(href='contact.html') Contact
          // Social Icons
          ul.social-nav
            li.twitter
              a(target='_blank', href='https://twitter.com/960Development')
            li.facebook
              a(target='_blank', href='http://www.facebook.com/pages/960Development/128383130562816')
            li.mail
              a(target='_blank', href='mailto:robot@psdtohtmlwp.com')
            li.rss
              a(target='_blank', href='#rss-link')
          address 12300 Las Angeles Main Blvd, Las Angeles, AV 123456 - 123.456.7890
          p.copyright Copyright &copy; 2012 Elegantia Restaurant &amp; Bar. All rights reserved.
      // End Footer
    // End Page wrap
    a#scroll-top(href='#top')
    script(type='text/javascript', src='js/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.min.js')
    script(type='text/javascript', src='js/custom.js')
