hr.separator

h2 Galéria

#gallery-container.gallery-2-columns.isotope.clearfix
  block gallery
    .gallery-item.type-gallery-item.gallery-item.isotope-item
      a.pretty-photo.zoom(href='images/food-table-383x233.jpg', title='Restaurant Food')
        img.img-border(src='images/food-table-383x233.jpg', alt='Restaurant Food')
    .gallery-item.type-gallery-item.gallery-item.isotope-item.food.interior
      figure
        .media_container
          a.pretty-photo.zoom(href='images/night-dinner-383x233.jpg', title='Candel Light Dinner')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/night-dinner-383x233.jpg', alt='Candel Light Dinner')
      h5.item-title
        a(href='', title='Candel Light Dinner') Candel Light Dinner
    .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses.interior
      figure
        .media_container
          a.pretty-photo.zoom(href='images/glasses-three-383x233.jpg', title='Glasses on Table')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/glasses-three-383x233.jpg', alt='Glasses on Table')
      h5.item-title
        a(href='', title='Glasses on Table') Glasses on Table
    .gallery-item.type-gallery-item.gallery-item.isotope-item.interior
      figure
        .media_container
          a.pretty-photo.zoom(href='images/candel-383x233.jpg', title='Candel')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/candel-383x233.jpg', alt='Candel')
      h5.item-title
        a(href='', title='Candel') Candel
    .gallery-item.type-gallery-item.gallery-item.isotope-item.interior
      figure
        .media_container
          a.pretty-photo.zoom(href='images/food-table1-383x233.jpg', title='Interior Photo')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/food-table1-383x233.jpg', alt='Interior Photo')
      h5.item-title
        a(href='', title='Interior Photo') Interior Photo
    .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses
      figure
        .media_container
          a.pretty-photo.zoom(href='images/glasses-383x233.jpg', title='Glasses Two')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/glasses-383x233.jpg', alt='Glasses Two')
      h5.item-title
        a(href='', title='Glasses Two') Glasses Two
    .gallery-item.type-gallery-item.gallery-item.isotope-item.glasses
      figure
        .media_container
          a.pretty-photo.zoom(href='images/glasses-two-383x233.jpg', title='Glasses and Food')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/glasses-two-383x233.jpg', alt='Glasses and Food')
      h5.item-title
        a(href='', title='Glasses and Food') Glasses and Food
    .gallery-item.type-gallery-item.gallery-item.isotope-item.food
      figure
        .media_container
          a.pretty-photo.zoom(href='images/plate-one-383x233.jpg', title='Food Plates')
          a.link(href='candel-light-dinner.html')
        img.img-border(src='images/plate-one-383x233.jpg', alt='Food Plates')
      h5.item-title
        a(href='', title='Food Plates') Food Plates
