#footer-wrapper
footer#footer
  // Footer Menu
  nav#footer-menu
    ul#menu-footer-menu.clearfix
      li
        a(href='index.html') Home
      li
        a(href='blog.html') Blog
      li
        a(href='our-team.html') Our Team
      li
        a(href='events.html') All Events
      li
        a(href='gallery-2-columns.html') Gallery
      li
        a(href='our-menu.html') Our Menu
      li
        a(href='contact.html') Contact
  // Social Icons
  ul.social-nav
    li.twitter
      a(target='_blank', href='https://twitter.com/960Development')
    li.facebook
      a(target='_blank', href='http://www.facebook.com/pages/960Development/128383130562816')
    li.mail
      a(target='_blank', href='mailto:robot@psdtohtmlwp.com')
    li.rss
      a(target='_blank', href='#rss-link')
  address 12300 Las Angeles Main Blvd, Las Angeles, AV 123456 - 123.456.7890
  p.copyright Copyright &copy; 2012 Elegantia Restaurant &amp; Bar. All rights reserved.