// Start Footer
#footer-wrapper
  footer#footer
    // Footer Menu
    nav#footer-menu
      ul#menu-footer-menu.clearfix
        li
          a(href='felhasznalasi-feltetelek.html') Felhasználási Feltételek
        li
          a(href='jelentkezes.html') Jelentkezés
        li
          a(href='media-ajanlat.html') Média ajánlat
        li
          a(href='szponzoracio.html') Szponzoráció
        li
          a(href='szerzoi-jogok.html') Szerzői jogok
        li
          a(href='magyart-kartya.html') MagyART kártya
        li
          a(href='celunk.html') Célunk
        li
          a(href='etikai-kodex.html') Etikai Kódex
    // Social Icons
    ul.social-nav
      li.twitter
        a(target='_blank', href='https://twitter.com/KreativArtPORta')
      li.facebook
        a(target='_blank', href='http://www.facebook.com/MagyarMuveszetiPortal')
      li.mail
        a(target='_blank', href='mailto:magyarmuveszetiportal@gmail.com')
      li.rss
        a(target='_blank', href='#rss-link')

    p.copyright Copyright &copy; Magyar Művészeti és Kulturális Portál és Kreatív Art Portál. Minden jog fenntartva! 2013.
// End Footer