// Start Footer
#footer-wrapper
  footer#footer
    // Footer Menu
    nav#footer-menu
      ul#menu-footer-menu.clearfix
        li
          a(href='index.html') Home
        li
          a(href='blog.html') Blog
        li
          a(href='our-team.html') Our Team
        li
          a(href='events.html') All Events
        li
          a(href='gallery-2-columns.html') Gallery
        li
          a(href='our-menu.html') Our Menu
        li
          a(href='contact.html') Contact
    // Social Icons
    ul.social-nav
      li.twitter
        a(target='_blank', href='https://twitter.com/KreativArtPORta')
      li.facebook
        a(target='_blank', href='http://www.facebook.com/MagyarMuveszetiPortal')
      li.mail
        a(target='_blank', href='mailto:magyarmuveszetiportal@gmail.com')
      li.rss
        a(target='_blank', href='#rss-link')

    p.copyright Copyright &copy; Magyar Művészeti és Kulturális Portál és Kreatív Art Portál. Minden jog fenntartva! 2013.
// End Footer