#gallery-container.gallery-4-columns.isotope.clearfix
  block artistlist
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/szepirodalom.jpg', alt='Szépirodalom' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Szépirodalom') Szépirodalom
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/kepzomuveszet.jpg', alt='Képzőművészet' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Képzőművészet') Képzőművészet
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/tervezomuveszet.jpg', alt='Tervezőművészet' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Tervezőművészet') Tervezőművészet
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/hagyomanyorzes.jpg', alt='Hagyományőrzés' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Hagyományőrzés') Hagyományőrzés
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/streetart.jpg', alt='Street art' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Street art') Street art
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/zene.jpg', alt='Zene' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Zene') Zene
    .gallery-item.type-gallery-item.status-publish.hentry.gallery-item.isotope-item.food
      figure
        .media_container

        img.img-border(src='images/muveszeink/filmfoto.jpg', alt='Film, fotó' style='width:178px;height:267px')
      h5.item-title
        a(href='#', title='Film, fotó') Film, fotó
