// Start Header
#header-wrapper
  header#header
    h6 Las Angeles, AV 123456 - 123.456.7800
    // Left Menu
    nav.main-menu.left.clearfix
      .menu-left-main-menu-container
        ul#menu-left-main-menu.clearfix
          li.menu-item
            a(href='index.html') Kezdőlap
          li.menu-item
            a(href='our-menu.html') Müvészeink
          li.menu-item
            a(href='#') Hagyományaink
          li.menu-item
            a(href='faq.html') GYIK
          li.menu-item
            a(href='about.html') Rólunk

    // Header Logo
    #logo
      // Website Logo
      a(href='index.html', title='Elegantia Restaurant and Cafe Theme')
        img(src='images/elegantia-logo.png', alt='Elegantia Restaurant and Cafe Theme')
    // Right Menu
    nav.main-menu.right.clearfix
      .menu-right-main-menu-container
        ul#menu-right-main-menu.clearfix
          li.menu-item
            a(href='contact.html') Csapat
          li.menu-item
            a(href='#') Tárlat
          li.menu-item
            a(href='blog.html') Irodalmi napló / Blog
          li.menu-item
            a(href='our-team.html') Mesesarok
          li.menu-item
            a(href='events.html') Könyvklub
          li.menu-item
            a(href='events.html') Pályázatok
          li.menu-item
            a(href='events.html') Kapcsolat
// End Header