#header-wrapper
header#header
h6 Las Angeles, AV 123456 - 123.456.7800
// Left Menu
nav.main-menu.left.clearfix
  .menu-left-main-menu-container
    ul#menu-left-main-menu.clearfix
      li.menu-item
        a(href='index.html') Home
      li.menu-item
        a(href='our-menu.html') Menu
      li.menu-item
        a(href='#') Gallery
        ul.sub-menu
          li.menu-item
            a(href='gallery-2-columns.html') 2 Columns Gallery
          li.menu-item
            a(href='gallery-3-columns.html') 3 Columns Gallery
          li.menu-item
            a(href='gallery-4-columns.html') 4 Columns Gallery
          li.menu-item
            a(href='candel-light-dinner.html') Gallery Item Detail
      li.menu-item
        a(href='faq.html') FAQs
      li.menu-item
        a(href='about.html') About
        ul.sub-menu
          li.menu-item
            a(href='about.html') About
          li.menu-item
            a(href='about-left-sidebar.html') About &ndash; Left Sidebar
// Header Logo
#logo
  // Website Logo
  a(href='index.html', title='Elegantia Restaurant and Cafe Theme')
    img(src='images/elegantia-logo.png', alt='Elegantia Restaurant and Cafe Theme')
// Right Menu
nav.main-menu.right.clearfix
  .menu-right-main-menu-container
    ul#menu-right-main-menu.clearfix
      li.menu-item
        a(href='contact.html') Contact
      li.menu-item
        a(href='#') Others
        ul.sub-menu
          li.menu-item
            a(href='reservation.html') Reservation
          li.menu-item
            a(href='elements.html') Elements
          li.menu-item
            a(href='fullwidth.html') Full Width
          li.menu-item
            a(href='candel-light-dinner.html') Gallery Item Single
          li.menu-item
            a(href='single-team.html') Team Member Single
          li.menu-item
            a(href='cream-cakes.html') Menu Item Single
      li.menu-item
        a(href='blog.html') Blog
      li.menu-item
        a(href='our-team.html') Team
      li.menu-item
        a(href='events.html') Events