// Start Header
#header-wrapper
  header#header
    // Left Menu
    nav.main-menu.left.clearfix
      .menu-left-main-menu-container
        ul#menu-left-main-menu.clearfix
          li.menu-item
            a(href='muveszeink.html') Művészeink
          li.menu-item
            a(href='rovatok.html') Rovatok
          li.menu-item
            a(href='csapat.html') Csapat
    // Header Logo
    #logo
      // Website Logo
      a(href='index.html', title='Magyar Művészeti és Kulturális portál')
        img(src='images/mmkp-logo.png', alt='Magyar Művészeti és Kulturális portál')
    // Right Menu
    nav.main-menu.right.clearfix
      .menu-right-main-menu-container
        ul#menu-right-main-menu.clearfix
          li.menu-item
            a(href='kapcsolat.html') Kapcsolat
            ul.sub-menu
              li.menu-item
                a(href='gyik.html') GYIK
          li.menu-item
            a(href='konyv.html') Könyv
          li.menu-item
            a(href='mese.html') Mese
// End Header