// Start Header
#header-wrapper
  header#header
    // Left Menu
    nav.main-menu.left.clearfix
      .menu-left-main-menu-container
        ul#menu-left-main-menu.clearfix
          li.menu-item
            a(href='muveszeink.html') Müvészeink
          li.menu-item
            a(href='rovatok.html') Rovatok
            ul.sub-menu
              li.menu-item
                a(href='hagyomany.html') Hagyomány
              li.menu-item
                a(href='design.html') Design
              li.menu-item
                a(href='kezmuves.html') Kézműves
          li.menu-item
            a(href='csapat.html') Csapat
    // Header Logo
    #logo
      // Website Logo
      a(href='index.html', title='Elegantia Restaurant and Cafe Theme')
        img(src='images/elegantia-logo.png', alt='Elegantia Restaurant and Cafe Theme')
    // Right Menu
    nav.main-menu.right.clearfix
      .menu-right-main-menu-container
        ul#menu-right-main-menu.clearfix
          li.menu-item
            a(href='kapcsolat.html') Kapcsolat
            ul.sub-menu
              li.menu-item
                a(href='gyik.html') GYIK
          li.menu-item
            a(href='konyv.html') Könyv
            ul.sub-menu
              li.menu-item
                a(href='konyvespolc.html') Könyvespolc
          li.menu-item
            a(href='mese.html') Mese
            ul.sub-menu
// End Header