// Start of Sidebar
aside#sidebar
  section.widget
    form#searchform(method='get')
      div
        label.screen-reader-text(for='s') Search for:
        input#s(type='text', value='', name='s')
        input#searchsubmit(type='submit', value='Search')
  section.widget
    h3.title Recent Blog Posts
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Elegantia Restaurant Food Presentation
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/pasta-and-tomato-sauce-50x50.jpg', alt='Pasta and tomato sauce')
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Last Chance for Elegantia Gift Special Reservations
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/event-two1-50x50.jpg', alt='event-two')
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Elegantia Restaurant Modern Table Settings
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/restaurant-table-50x50.jpg', alt='Restaurant')
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
  section.widget
    h3.title Menu Types
    ul
      li
        a(href='', title='View all posts filed under Appetizers') Appetizers
      li
        a(href='', title='View all posts filed under Desserts') Desserts
      li
        a(href='', title='View all posts filed under Main Dishes') Main Dishes
      li
        a(href='', title='View all posts filed under Salads') Salads
  section.widget
    h3.title Featured Menu Items
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Sandwich Spiral Roll
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/mini-sandwich-spiral-roll-appetizers-50x50.jpg', alt='Mini sandwich spiral roll appetizers')
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Vegetable Soup
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/vegetable-soup-50x50.jpg', alt='vegetable soup')
      p  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
    .sidebar-menu-item.clearfix
      h4
        a(href='#') Fruits Salad
      figure
        a(href='#')
          img.sidebar-menu-thumb.wp-post-image(src='images/fruits-salad-50x50.jpg', alt='fruits salad')
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam&mldr;
      a.read-more(href='') Read More
  // End of Sidebar