// Slider
.slider-wrapper
  .flexslider
    ul.slides
      li
        a(href='#')
          img(src='images/slider-image-three.jpg', alt='')
      li
        a(href='#')
          img(src='images/slider-image-two.jpg', alt='')
      li
        a(href='#')
          img(src='images/slider-image-one.jpg', alt='')
// End Slider